<div class="favorite-page">
  <h2 class="favorite-page__header">Избранное</h2>
  <mat-divider></mat-divider>


  <div class="favorite-page__content">
    <mat-card *ngFor="let film of films" class="favorite-page__card">
      <mat-card-header>
        <mat-card-title>{{film.title}}</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip *ngFor="let genre of film.genres" class="favorite-page__genre">{{genre}}</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>

      <img src="https://dummyimage.com/400x500/fafafa/000000" *ngIf="film.url == null; else elseBlock" alt=""
        width="100%">
      <ng-template #elseBlock>
        <img mat-card-image src="http://image.tmdb.org/t/p/w500{{film.url}}" alt="">
      </ng-template>

      <mat-card-content>
        <p>
          {{film.overview}}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button (click)="toggleFavorite(film.id)" mat-raised-button>ИЗ ИЗБРАННОГО</button>

        <button [routerLink]="['/films', film.id]" mat-raised-button>ПОДРОБНЕЕ</button>
      </mat-card-actions>

    </mat-card>
    <p class="favorite-page__no-content" *ngIf="films.length === 0">Тут пока ничего нет :(</p>
  </div>
</div>
